NEXT_PUBLIC_SUPABASE_URL="https://xmxiemrmxlyymbdscpwt.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhteGllbXJteGx5eW1iZHNjcHd0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyMjg3MjIsImV4cCI6MjA4NzgwNDcyMn0.tPyZ4BqArITX99d7WmObNsHm-SbEUbTbeGr4laM2Ivo"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhteGllbXJteGx5eW1iZHNjcHd0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIyODcyMiwiZXhwIjoyMDg3ODA0NzIyfQ.Y2vLZ9rjQnnQopSi3G-1lIIEfO3-2w7fL7YlMnAZijU"
ALPHA_VANTAGE_API_KEY="your-alpha-vantage-key"
